src/main/app/poller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<amqp:connector name="amqp" validateConnections="true" host="${rabbit.host}" port="${rabbit.port}"  username="${rabbit.username}" password="${rabbit.password}" ackMode="MANUAL" prefetchCount="1" doc:name="AMQP-0-9 Connector"> 
        <reconnect-forever></reconnect-forever>  
    </amqp:connector>
    <http:request-config name="HTTP_ES_logging" host="${elasticsearch.host}" port="9200" basePath="/" responseTimeout="30000" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="hooks.slack.com" port="443" basePath="/services" doc:name="HTTP Request Configuration">
        <http:proxy host="${proxy.host}" port="80"/>
    </http:request-config>
    <ftp:connector name="FTP" pollingFrequency="1000" validateConnections="true" doc:name="FTP"/>
    <flow name="pollerFlow">
        <amqp:inbound-endpoint queueName="vrt_avo_poller" numberOfChannels="1" responseTimeout="10000" exchange-pattern="request-response"  doc:name="Receive token from vrt_avo_poller" connector-ref="amqp"/>
        <db:select config-ref="PostgreSQL_CONNECTION" doc:name="Check for items that are QUEUED, PROCESSING or REQUESTED">
            <db:parameterized-query><![CDATA[select *
from ${db.avo_transfer}
where status = 'QUEUED' OR status = 'REQUESTED']]></db:parameterized-query>
        </db:select>
        <foreach doc:name="For Each">
            <flow-ref name="SetInfo" doc:name="SetInfo"/>
            <db:select config-ref="PostgreSQL_CONNECTION" doc:name="Retrieve info from vrt_message_buffer">
                <db:parameterized-query><![CDATA[select *
from ${db.buffer}
where media_id = #[flowVars.media_id] 
	and event_name IN (select event_name
						from messageevents
						where file_type = #[flowVars.media_type]
					)
ORDER BY lastmodificationdate desc]]></db:parameterized-query>
            </db:select>
            <flow-ref name="check" doc:name="check"/>
            
        </foreach>
        <flow-ref name="log_elastic_search" doc:name="log_elastic_search"/>
        <expression-component doc:name="Sleep"><![CDATA[Thread.sleep(3000);]]></expression-component>
        <amqp:outbound-endpoint queueName="vrt_avo_poller" responseTimeout="10000" exchange-pattern="request-response" doc:name="Send to vrt_avo_poller"/>
        <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
    </flow>
    <sub-flow name="SetInfo">
        <set-variable variableName="id" value="#[payload.id]" doc:name="Set id"/>
        <set-variable variableName="media_id" value="#[payload['media_id']]" doc:name="Set media_id"/>
        <set-variable variableName="briefing_id" value="#[payload['briefing_id']]" doc:name="Set briefing_id"/>
        <set-variable variableName="transfer_status" value="#[payload['status']]" doc:name="transfer_status"/>
        <set-variable variableName="email" value="#[payload['email']]" doc:name="email"/>
        <set-variable variableName="toegevoegd_door" value="#[payload['toegevoegd_door']]" doc:name="Set toegevoegd_door"/>
        <set-variable variableName="briefing_titel" value="#[payload['briefing_titel']]" doc:name="Set briefing_titel"/>
        <set-variable variableName="media_type" value="#[payload['media_type']]" doc:name="media_type"/>
        <set-variable variableName="retry_count" value="#[payload['retry_count']]" doc:name="Set retry_count"/>
    </sub-flow>
    <sub-flow name="check">
    	<choice doc:name="Record found?">
                <when expression="#[payload.size()&gt;0]">
                    <set-variable variableName="buffer_status" value="#[payload[0].status]" doc:name="Set buffer_status"/>
                <set-variable variableName="pid" value="#[payload[0].pid]" doc:name="Set pid"/>
                    <set-variable variableName="correlation_id_buffer" value="#[payload[0].correlation_id]" doc:name="Set correlation_id_buffer"/>
                    <choice doc:name="What's the buffer status of the item?">
                        <when expression="#[flowVars.buffer_status.equals('failed')]">
                            <logger message="item failed to retrieve" level="INFO" doc:name="failed"/>
                            <choice doc:name="Are there retries left over?">
                                <when expression="#[flowVars.retry_count&lt;=0]">
                                    <logger level="INFO" doc:name="FINAL: No retries left, set status to FAILED"/>
                                    <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status to FAILED">
                                    <db:parameterized-query><![CDATA[UPDATE ${db.avo_transfer}
SET status = 'FAILED'
where id = #[flowVars.id]]]></db:parameterized-query>
                                    </db:update>
                                    <set-variable variableName="status" value="#['FAILED']" doc:name="Set status (FAILED)"/>
                                </when>
                                <otherwise>
                                    <logger level="INFO" doc:name="If yes, reset the buffer status to ready_for_processing and avo status to PROCESSING back"/>
                                    <expression-component doc:name="Update retry_count - 1"><![CDATA[#[flowVars.retry_count--]]]></expression-component>
                                    <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status of record in vrt_message_buffer to READY_FOR_PROCESSING">
                                        <db:parameterized-query><![CDATA[UPDATE ${db.buffer}
SET status = 'ready_for_processing'
WHERE id = #[flowVars.correlation_id_buffer]]]></db:parameterized-query>
                                    </db:update>
                                    <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status vrt_avo_transfer to PROCESSING">
                                        <db:parameterized-query><![CDATA[UPDATE ${db.avo_transfer}
SET status = 'PROCESSING'
where id = #[flowVars.id]]]></db:parameterized-query>
                                    </db:update>
                                    <set-variable variableName="status" value="#['PROCESSING']" doc:name="Set status (PROCESSING)"/>
                                </otherwise>
                            </choice>
                        </when>
                        <when expression="#[flowVars.buffer_status.equals('permanently_failed')]">
                            <logger level="INFO" doc:name="permanently_failed"/>
                            <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status vrt_avo_transfer to PERMANENTLY_FAILED">
                                <db:parameterized-query><![CDATA[UPDATE ${db.avo_transfer}
SET status = 'PERMANENTLY_FAILED'
where id = #[flowVars.id]]]></db:parameterized-query>
                            </db:update>
                            <set-variable variableName="status" value="#['PERMANENTLY_FAILED']" doc:name="Set status (PERMANENTLY_FAILED)"/>
                        </when>
                        <when expression="#[flowVars.buffer_status.equals('completed')||flowVars.buffer_status.equals('awaitingMetadataUpdate24hr')||flowVars.buffer_status.equals('awaitingMetadataUpdate48hr')||flowVars.buffer_status.equals('awaitingMetadataUpdate7d')]">
                        <logger level="INFO" doc:name="ARCHIVED when status is awaitingMetadataUpdateX or completed"/>
                            <dw:transform-message doc:name="Build minimal metadata in XML with briefing ID and title (TODO: check if correct format)">
                                <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	MediaHAVEN_external_metadata: {
		MDProperties: {
			// dit is doorzoekbaar
			Algemeen_Briefing_ID @(type:"list"): {
				BriefingID: flowVars.briefing_id			
			}
		}
	}
}]]></dw:set-payload>
                            </dw:transform-message>
                            <object-to-string-transformer doc:name="Object to String"/>
                            <ftp:outbound-endpoint host="${ftpDestination.host}" port="21" path="/" user="${ftpDestination.metadataUsername}" password="${ftpDestination.metadataPassword}" responseTimeout="10000" doc:name="FTP as pid.xml" connector-ref="FTP" outputPattern="#[flowVars.pid + &quot;.xml&quot;]"/>
                            <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status vrt_avo_transfer to RECONCILED and add pid">
                            <db:parameterized-query><![CDATA[UPDATE ${db.avo_transfer}
SET status = 'RECONCILED', pid = #[flowVars.pid]
where id = #[flowVars.id]]]></db:parameterized-query>
                            </db:update>
                            <set-variable variableName="status" value="#['RECONCILED']" doc:name="Set status (RECONCILED)"/>
                        <db:select config-ref="PostgreSQL_CONNECTION" doc:name="Check if briefing is READY">
                            <db:parameterized-query><![CDATA[select count(1) totaal, SUM(CASE WHEN status = 'RECONCILED' THEN 1 ELSE 0 END) aantal_klaar
FROM ${db.avo_transfer}
where briefing_id = #[flowVars.briefing_id] AND status != 'DELETED']]></db:parameterized-query>
                        </db:select>
                        <set-variable variableName="totaal" value="#[payload[0].totaal]" doc:name="Set totaal (aantal media_ids)"/>
                        <set-variable variableName="aantal_klaar" value="#[payload[0].aantal_klaar]" doc:name="Set aantal_klaar"/>
                        <choice doc:name="Everything reconciled from that briefing?">
                            <when expression="#[flowVars.aantal_klaar != flowVars.totaal]">
                                <logger message="Briefing niet klaar" level="INFO" doc:name="Briefing niet klaar"/>
                            </when>
                            <otherwise>
                                <dw:transform-message doc:name="Build ready message">
                                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
        "text": "Briefing " ++ flowVars.briefing_id ++ " is klaar."
}]]></dw:set-payload>
                                </dw:transform-message>
                                <http:request config-ref="HTTP_Request_Configuration" path="${slack.hook}" method="POST" doc:name="Send notification to Slack"/>
                            </otherwise>
                        </choice>
                        </when>
                        <otherwise>
                            <logger message="Still PROCESSING when not in archived stage and not failed" level="INFO" doc:name="Still PROCESSING when not in archived stage and not failed"/>
                        <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status to PROCESSING in case this wasn't already">
                            <db:parameterized-query><![CDATA[UPDATE ${db.avo_transfer}
SET status = 'PROCESSING'
where id = #[flowVars.id]]]></db:parameterized-query>
                        </db:update>
                            <choice doc:name="If item is queued or stuck in processing, give it push forward">
                                <when expression="#[!flowVars.buffer_status.equals('queued')&amp;&amp;!flowVars.buffer_status.equals('processing')]">
                                    <logger level="INFO" doc:name="Do nothing"/>
                                </when>
                                <otherwise>
                                    <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status of record in vrt_message_buffer to READY_FOR_PROCESSING">
                                    <db:parameterized-query><![CDATA[UPDATE ${db.buffer}
SET status = 'ready_for_processing'
WHERE id = #[flowVars.correlation_id_buffer]]]></db:parameterized-query>
                                    </db:update>
                                </otherwise>
                            </choice>
                        </otherwise>
                    </choice>
                </when>
                <otherwise>
                    <choice doc:name="Item already manual requested?">
                        <when expression="#[flowVars.transfer_status.equals('REQUESTED')]">
                            <logger level="INFO" doc:name="Item already requested, so do nothing"/>
                        </when>
                        <otherwise>
                        <dw:transform-message doc:name="Build manual request">
                            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    "media_id": flowVars.media_id,
    "media_type": flowVars.media_type,
    "destination": "mediahaven"
}]]></dw:set-payload>
                        </dw:transform-message>
                        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                        <amqp:outbound-endpoint queueName="vrt_manual_requests" responseTimeout="10000" exchange-pattern="request-response" connector-ref="amqp" doc:name="vrt_manual_requests component"/>
                            <db:update config-ref="PostgreSQL_CONNECTION" doc:name="Update status vrt_avo_transfer to REQUESTED">
                                <db:parameterized-query><![CDATA[UPDATE ${db.avo_transfer}
SET status = 'REQUESTED'
where id = #[flowVars.id]]]></db:parameterized-query>
                            </db:update>
                            <set-variable variableName="status" value="#['REQUESTED']" doc:name="Set status (REQUESTED)"/>
                        </otherwise>
                    </choice>
                </otherwise>
            </choice>
    </sub-flow>
    <sub-flow name="log_elastic_search">
        <choice doc:name="When status is not null">
            <when expression="#[flowVars.status==null]">
                <logger level="INFO" doc:name="Nothing changed, so don't log"/>
            </when>
            <otherwise>
                <set-variable variableName="timestamp" value="#[server.dateTime.format(&quot;yyyy-MM-dd'T'HH:mm:ss.SSSZ&quot;)]" doc:name="Set timestamp"/>
                <dw:transform-message doc:name="Create message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	id: flowVars.id,
	(pid: flowVars.pid) when flowVars.pid != null,
	media_id: flowVars.media_id,
	briefing_id: flowVars.briefing_id,
	status: flowVars.status,
	uitvoerder: flowVars.uitvoerder,
	toegevoegd_door: flowVars.toegevoegd_door,
	briefing_titel: flowVars.briefing_titel,
	media_type: flowVars.media_type,
	retry_count: flowVars.retry_count,
	timestamp: flowVars.timestamp
}]]></dw:set-payload>
                </dw:transform-message>
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <logger message="#[payload]" level="INFO" doc:name="Debug message"/>
                <http:request config-ref="HTTP_ES_logging" path="vrt_avo_transfer/events" method="POST" doc:name="POST event to ES"/>
            </otherwise>
        </choice>
    </sub-flow>
</mule>
